/* 一些自定义样式 */
.logo .title{
  width: 22ch;
  animation: typing 4s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 22ch;
  }
  100% {
    width: 22ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}